# User Testing Report

User testing was conducted by Grace Walker on Wednesday, October 23, 2013 between the times of 3pm and 6pm with the following participants:

- Tirzah Wood
- Kayla Tuor
- Kathryn Hallet

## Tasks

1. Got to About Sumo
2. Got to Sport of Sumo
3. Got to Kimarite & Techniques

---

## Individual Results & Observations

### Tirzah Wood

- Easily clicked on all the links
- Easily used both navigations
- Didn't ask any questions



### Kathryn Hallet

- Easily clicked on all the links
- Found all the pages. 
- No questions were asked. 
- Buttons on nav should be style better for visibilty

### Lisa Villeneuve

- Easily found all the content
- Completed each task without questions

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Had trouble reading the nav as the buttons were too close together. 

### Serious, Causes Frustration, May Hinder Completion

- work on having the nav float down with the scrolling page. Makes it easier to navigate around

### Minor, Annoying, Won’t Hinder Completion

- Just work on text readability and button usability. 