html {
	font: normal 80%/1.4 sans-serif;
}

body {
	margin: 0;
}

p {
	margin: 0;
}

h1 {
	margin: 0;
	font-size: 1.75rem;
	padding-bottom: 1rem;
}

strong {
	color: rgba(168,74,37,1.00);
}

.colour {
	background-color: rgba(87,17,12,1.00);
	color:rgba(255,255,255,1.00);
}

.colour-two {
	background-color: rgba(168,74,37,1.00);
	color: rgba(255,255,255,1.00);
}

.flex-img {
	display: block;
	width: 100%;
}

.grid {
	overflow: hidden;
}

.unit {
	float: left;
}

.unit-spacer {
	padding: 1em;
}

nav {
	background-color:rgba(116,38,20,1.00);
	overflow: hidden;
	padding: 0;
}

nav li {
	font-size: 1.2rem;
	list-style-type: none;
	display: inline-block;
	padding: .5rem;
	}

nav ul {
	padding: 1rem;
	margin: 0;
}

.media-img-reversed {
	overflow: hidden;
	float: right;
	margin-left: 10px;
	margin-right: 10px;
}

.media-title {
	float: right;
	margin: 0;
	font-size: 1rem;
	font-weight: bold;

}







