html {
	font: normal 100%/1.4 sans-serif;
}

body {
	margin: 0;
}

p {
	margin: 0;
}

h1 {
	margin: 0;
	font-size: 1.75rem;
	padding-bottom: 1rem;
}

.colour {
	background-color: rgba(87,17,12,1.00);
	color:rgba(255,255,255,1.00);
}

.colour-two {
	background-color: rgba(168,74,37,1.00);
	color: rgba(255,255,255,1.00);
}

.flex-img {
	display: block;
	width: 100%;
}
.logo {
	display: inline-block;
	width: 50%;
}

a {
	text-decoration:none;
	color: #ffffff;
}

nav {
	color: #ffffff;
	padding: 0;
}

nav li {
	color: #ffffff;
	font-size: 1.2rem;
	list-style-type: none;
	display: inline-block;
	padding: .5rem;
	text-decoration: none;
	}

nav ul {
	padding: 1rem;
	margin: 0;
}
/*unvisted link*/
nav:link {
	text-decoration: none;
	color: rgba(168,74,37,1.00)

}
/*visited link*/
nav a:visited {
	text-decoration: none;
	color: rgba(168,74,37,1.00)


}
/*mouse over link*/
nav a:hover {
	text-decoration: none;
	color: rgba(168,74,37,1.00)


}
/*selected link*/
nav a:active {
	text-decoration: none;
	color: rgba(168,74,37,1.00)


}

.media-img-reversed {
	overflow: hidden;
	float: right;
	margin-left: 10px;
	margin-right: 10px;
}

.media-title {
	float: right;
	margin: 0;
	font-size: 1rem;
	font-weight: bold;

}

.read-more {
	background-color: red;
	display: block;
	margin: 1em -8px -8px -8px;
	padding: 8px;
}


@media only screen and (min-width: 38em) {




}





