<!doctype html>
<html lang="en-ca">
<head>
	<meta charset="UTF-8">
	<title>Sumo Wrestling - Discover the ancient Japanese sport</title>
	<link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/general.css" rel="stylesheet">
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<!--FACEBOOK-->
  <meta property="og:type" content="article">
  <meta property="og:title" content="Sumo Wrestling - Discover the ancient Japanese sport">
  <meta property="og:url" content="http://www.sumowrestling.com">
  <!-- Image dimensions: minimum 200x200; recommended 1500x1500 -->
  <meta property="og:image" content="http://fullurl.com/to-this/image.jpg">
  <meta property="og:site_name" content="Sumo.com">
  <meta property="og:description" content="Description of this page, same as meta description">
  <!--TWITTER-->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Sumo Wrestling - Discover the ancient Japanese sport">
  <meta name="twitter:url" content="http://sumowrestling.com">
  <meta name="twitter:description" content="Description of this page, same as meta description">
  <!-- The image should be 120x120 pixels in dimension -->
  <meta name="twitter:image" content="http://fullurl.com/to-this/image.jpg">
</head>

<body>

	<div class="grid">
		<div class="unit unit-s-1 unit-m-1-3 unit-l-1-3">
			<img src="{{site.baseurl}}/img/sumo3.png" class="flex-img" alt="">
		</div>
		<div class="unit unit-s-hidden unit-m-1-3 unit-l-1-3">
			<img src="{{site.baseurl}}/img/sumo2.png" class="flex-img" alt="">
		</div>
		<div class="unit unit-s-hidden unit-m-1-3 unit-l-1-3">
			<img class="flex-img" src="{{site.baseurl}}/img/tokyotournament.png"  alt="">
		</div>
	</div>

	<div class="masthead">
		<div class="grid">
			<div class="unit unit-s-2-3 unit-m-2-3 unit-l-2-3">
				<a href="#nav" class="nav-btn">☰</a>
				<nav class="nav-top" data-state="expanded">
					<ul>
						<li><a href="{{site.baseurl}}/aboutsumo.html">About Sumo</a></li>
						<li><a href="{{site.baseurl}}/sport-of-sumo.html">Sport of Sumo</a></li>
						<li><a href="{{site.baseurl}}/sumo-2013.html">Sumo 2013</a></li>
					</ul>
				</nav>
			</div>
			<div class="unit unit-s-1-3 unit-m-1-3 unit-l-1-3">
				<a href="index.html" class="logo"><img src="img/sumologo.svg" class="flex-img"></a>
			</div>
		</div>
	</div>



{{content}}


	<footer>
		<nav id="nav" class="nav-bottom">
			<ul>
				<li><a href="{{site.baseurl}}/aboutsumo.html">About Sumo</a></li>
				<li><a href="{{site.baseurl}}/sport-of-sumo.html">Sport of Sumo</a></li>
				<li><a href="{{site.baseurl}}/sumo-2013.html">Sumo 2013</a></li>
			</ul>
		</nav>
	</footer>




<script src="js/nav.js"></script>

</body>


</html>
