<!doctype html>
<html lang="en-ca">
<head>
	<meta charset="UTF-8">
	<title>Sumo Wrestling - Discover the ancient Japanese sport</title>
	<link href="css/grid.css" rel="stylesheet">
	<link href="css/general.css" rel="stylesheet">
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>

<body>

	<div class="grid">

		<div class="unit unit-s-1 unit-m-1-3 unit-l-1-3">
			<img src="http://placehold.it/1000x700" class="flex-img" alt="">
		</div>
		<div class="unit unit-s-hidden unit-m-1-3 unit-l-1-3">
			<img src="http://placehold.it/1000x700" class="flex-img" alt="">
		</div>
		<div class="unit unit-s-hidden unit-m-1-3 unit-l-1-3">
			<img src="http://placehold.it/1000x700" class="flex-img" alt="">
		</div>
	</div>

	<nav>
		<ul>
			<li><a href="{{site.baseurl}}aboutsumo.html">About Sumo</a></li>
			<li><a href="{{site.baseurl}}sport-of-sumo.html">Sport of Sumo</a></li>
			<li><a href="{{site.baseurl}}sumo-2013.html">Sumo 2013</a></li>
			<li><a class="media-title" href="{{site.baseurl}}index.html"><strong>SUMO</strong>.com</a><li>
		</ul>
	</nav>


{{content}}

</body>
</html>
