<!doctype html>
<html lang="en-ca">
<head>
	<meta charset="UTF-8">
	<title>Sumo Wrestling - Discover the ancient Japanese sport</title>
	<link href="{{site.baseurl}}/css/normalize.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/general.css" rel="stylesheet">
	<meta name="description" content="{{page.meta}}">
	<script src="{{site.baseurl}}/js/modernizr.js"></script>
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<!--FACEBOOK-->
  <meta property="og:type" content="article">
  <meta property="og:title" content="Sumo Wrestling - Discover the ancient Japanese sport">
  <meta property="og:url" content="http://www.sumowrestling.com">
  <!-- Image dimensions: minimum 200x200; recommended 1500x1500 -->
  <meta property="og:image" content="http://sumowrestling.com/to-this/image.jpg">
  <meta property="og:site_name" content="Sumo.com">
  <meta property="og:description" content="Discover the ancient Japanese sport of Sumo Wrestling">
  <!--TWITTER-->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Sumo Wrestling - Discover the ancient Japanese sport">
  <meta name="twitter:url" content="http://sumowrestling.com">
  <meta name="twitter:description" content="Discover the ancient Japanese sport of Sumo Wrestling">
  <!-- The image should be 120x120 pixels in dimension -->
  <meta name="twitter:image" content="http://sumowrestling.com/to-this/image.jpg">
</head>

<body>


	<ul class="skiplinks">
		<li><a href="#main">Skip to primary content</a></li>
		<li><a href="#complementary">Skip to secondary content</a></li>
		<li><a href="#navigation">Skip to navigation</a></li>
	</ul>
<div class="stickyfooter">
{% unless page.hidebanner == true %}
	<div role="banner" class="grid">
		<div class="unit unit-s-1 unit-m-1-3 unit-l-1-3">
			<img src="{{site.baseurl}}/img/sumo3.png" class="flex-img" alt="two sumo wrestlers wrestling">
		</div>
		<div class="unit unit-s-hidden unit-m-1-3 unit-l-1-3">
			<img src="{{site.baseurl}}/img/sumo2.jpg" class="flex-img" alt="two sumo wresters in ring">
		</div>
		<div class="unit unit-s-hidden unit-m-1-3 unit-l-1-3">
			<img class="flex-img" src="{{site.baseurl}}/img/tokyotournament.jpg"  alt="two modern day sumo wrestlers">
		</div>
	</div>
{% endunless %}
	<div class="masthead">
		<div class="grid">
			<div class="unit unit-s-2-3 unit-m-2-3 unit-l-2-3">
				<a href="#nav" id="navigation" class="nav-btn">☰</a>
				<nav role="navigation" class="nav-top" data-state="expanded">
					<ul>
						<li><a href="{{site.baseurl}}/aboutsumo.html">About Sumo</a></li>
						<li><a href="{{site.baseurl}}/sport-of-sumo.html">Sport of Sumo</a></li>
						<li><a href="{{site.baseurl}}/sumo-2013.html">Sumo 2013</a></li>
					</ul>
				</nav>
			</div>
			<div class="unit unit-s-1-3 unit-m-1-3 unit-l-1-3">
				<a href="index.html" class="logo"><img src="img/sumologo.svg" class="flex-img" alt="Sumo.com"></a>
			</div>
		</div>
	</div>



{{content}}

</div>

	<footer>
		<nav id="nav" class="nav-bottom">
			<ul>
				<li><a href="{{site.baseurl}}/aboutsumo.html">About Sumo</a></li>
				<li><a href="{{site.baseurl}}/sport-of-sumo.html">Sport of Sumo</a></li>
				<li><a href="{{site.baseurl}}/sumo-2013.html">Sumo 2013</a></li>
				<li><a href="#top">Top</a></li>
			</ul>
		</nav>

		<p role="contentinfo" class="copyright">© Sumo Wrestling 2013</p>

	</footer>



<script src="js/nav.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46001570-1', 'walkergrace.github.io');
  ga('send', 'pageview');

</script>
</body>


</html>
